name: Upload to Google Drive

on:
  push:
    paths:
      - 'config.txt'
  workflow_dispatch:

jobs:
  mirror-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN_PUSH }}

      - name: Read config.txt
        id: read_url
        run: |
          URL=$(cat config.txt)
          echo "download_url=$URL" >> "$GITHUB_OUTPUT"

      - name: Download file and sanitize name
        run: |
          mkdir -p download
          cd download
          URL="${{ steps.read_url.outputs.download_url }}"
          wget --content-disposition --progress=bar:force "$URL"
          shopt -s nullglob
          for FILE in *\?*; do
            CLEAN_NAME=${FILE%%\?*}
            mv "$FILE" "$CLEAN_NAME"
          done

      - name: Upload to Google Drive
        run: |
          bash script/upload_with_api.sh download > gdrive_url.txt
        env:
          GDRIVE_CLIENT_ID: ${{ secrets.GDRIVE_CLIENT_ID }}
          GDRIVE_CLIENT_SECRET: ${{ secrets.GDRIVE_CLIENT_SECRET }}
          GDRIVE_REFRESH_TOKEN: ${{ secrets.GDRIVE_REFRESH_TOKEN }}
          GDRIVE_FOLDER_ID: ${{ secrets.GDRIVE_FOLDER_ID }}

      - name: Debug link output
        run: |
          echo "Google Drive Link:"
          cat gdrive_url.txt

      - name: Update gdrive_url_list.txt with filename + link
        run: |
          LIST_FILE="logs/gdrive_url_list.txt"
          TEMP_FILE=$(mktemp)
          paste -d'\n' <(ls download) gdrive_url.txt > "$TEMP_FILE"
          echo "" >> "$TEMP_FILE"
          cat "$LIST_FILE" >> "$TEMP_FILE" || true
          mv "$TEMP_FILE" "$LIST_FILE"
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add "$LIST_FILE"
          if git diff --staged --quiet; then
            echo "No changes in list.txt."
          else
            git commit -m "chore: update gdrive_url_list.txt with filename and spacing"
            git push https://x-access-token:${{ secrets.GH_TOKEN_PUSH }}@github.com/Elcapitanoe/gdrive-mirror-bot.git
          fi

      - name: Send to Telegram
        run: |
          FILE_PATH=$(find download -type f | head -n 1)
          FILE_NAME=$(basename "$FILE_PATH")
          LINK=$(cat gdrive_url.txt)
          bash script/send_to_telegram.sh "$LINK" "$FILE_NAME"
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_BOT2_TOKEN: ${{ secrets.TELEGRAM_BOT2_TOKEN }}
          TELEGRAM_CHANNEL_ID: ${{ secrets.TELEGRAM_CHANNEL_ID }}
          TELEGRAM_GROUP_ID: ${{ secrets.TELEGRAM_GROUP_ID }}
          TELEGRAM_GROUP2_ID: ${{ secrets.TELEGRAM_GROUP2_ID }}
          TELEGRAM_CHAT_PRIVATE_ID: ${{ secrets.TELEGRAM_CHAT_PRIVATE_ID }}
